<script lang="ts" setup>
import Icon from "@/components/ui/Icon.vue";
import { computed } from "vue";
import { useRoute } from "vue-router";
import { svgs } from "@/constants/svgs";
const route = useRoute();
const props = defineProps(["title", "prevTitle"]);
const crumbs = computed(() => route.matched[0]?.meta(route).breadcrumbs);
</script>

<template>
  <div class="breadcrumbs">
    <router-link v-for="(crumb, index) in crumbs" :key="'crumb-' + index" :to="crumb.path" class="crumb" :class="{
      'crumb--active': index == crumbs.length - 1,
    }">
      {{
        index == crumbs.length - 1
          ? props.title
            ? props.title
            : crumb.title
          : index == crumbs.length - 2
            ? prevTitle
              ? prevTitle
              : crumb.title
            : crumb.title
      }}
      <icon v-if="index != crumbs.length - 1" :icon="svgs.arrow_right" class="h-4 mt-[17px] text-c-ink" />
    </router-link>
  </div>
</template>

<style lang="postcss" scoped>
.breadcrumbs {
  @apply flex w-full cursor-default items-center overflow-hidden;

  .crumb {
    @apply flex text-[32px] font-medium text-c-gray-40;

    &--active {
      @apply text-c-ink;
    }
  }
}
</style>
