<!-- <template>
  <div
    class="z-[100000] flex gap-3 overflow-hidden rounded-md bg-c-gray-20 p-3 transition-all duration-[300ms]"
    :class="
      isClosed
        ? 'max-h-0 max-w-0 opacity-0 '
        : 'max-h-40 min-w-fit max-w-max opacity-100'
    "
  >
    <SVGXMark
      v-if="!isClosed"
      class="absolute right-16 ml-auto mr-3 cursor-pointer text-c-main-blue"
      @click="hide"
    >
    </SVGXMark>
    <section
      v-if="!isClosed"
      v-for="filter in filters"
      :key="filter?.title"
      class="min-w-[150px] !max-w-[300px]"
    >
      <template v-if="filter.type == 'select'">
        <ui-select
          :label="filter.title"
          :placeholder="filter.placeholder"
          v-model="filter.value"
          :options="filter.options"
          @update:modelValue="emit('change')"
        />
      </template>
      <template v-if="filter.type === 'year'">
        <p class="text-[1.1rem] text-c-ink">
          {{ filter?.title }}
        </p>

        <VueDatePicker
          :year-range="[2000, 2030]"
          locale="ru"
          auto-apply
          close-on-auto-apply
          select-text="Выбрать"
          cancel-text="Закрыть"
          :teleport="true"
          placeholder="Выберите год"
          input-class-name="h-10"
          class="max-w-[180px]"
          calendar-class-name="!z-[1000000000]"
          menu-class-name="!z-[1000000000]"
          :year-picker="true"
          v-model="filter.value"
          @update:modelValue="emit('change')"
        ></VueDatePicker>
      </template>
      <template v-if="!filter.type || filter.type === 'input'">
        <p class="font-light text-c-ink">{{ filter?.title }}</p>
        <input
          class="mt-2 h-12 min-w-[100px] rounded-md border-[1px] border-c-gray-30 text-[16px] font-light text-[#31315B] outline-none placeholder:text-[14px] placeholder:font-extralight focus:ring-0"
          type="text"
          placeholder="введите"
          v-model="filter.value"
          @input="emit('change')"
        />
      </template>
    </section>
    <ui-button
      v-if="!isClosed"
      class="mt-auto h-10"
      title="СБРОС"
      @click="emit('reset')"
    />
  </div>
</template>

<script setup lang="ts">
import SVGXMark from "../svg/SVGXMark.vue";
import UiSelect from "@/components/ui/UiSelect.vue";
import UiButton from "@/components/ui/UiButton.vue";
import { ref } from "vue";

type Filter = {
  title: string;
  value: string;
  key: string;
  placeholder: string;
};
const isClosed = ref(true);
const emit = defineEmits(["hide", "change", "reset"]);
function hide() {
  isClosed.value = true;
  emit("hide");
}

function toggle() {
  isClosed.value = false;

  return isClosed.value;
}
defineExpose({ toggle });
const props = defineProps({
  filters: {
    type: Array<Filter>,
    default: () => [],
  },
});
</script> -->
