<script setup lang="ts">
import { useUserStore } from "@/store/user.store";
import { computed, ref } from "vue";
import { useRouter } from "vue-router";
import Icon from "@/components/ui/Icon.vue";
import { svgs } from "@/constants/svgs";
const userStore = useUserStore();
const router = useRouter();
let showUserMenu = ref(false);
let userName = computed(() => userStore.user?.full_name);

function logout() {
  userStore.logout();
}
</script>

<template>
  <div class="header">
    <div
      class="mr-8 title"
      @mousedown.prevent="router.push('/')"
    >
      <icon
        :icon="svgs.home"
        class="h-[18px] w-[18.5px]"
      />
      <icon
        :icon="svgs.stick"
        class="h-[40px] w-[2px]"
      />
      <icon
        :icon="svgs.logo"
        class="mt-1 h-[45px] w-[180px]"
      />
    </div>
    <!-- <search class="mr-32" /> -->
    <!-- <support-bar class="" /> -->
    <div
      class="user"
      @mousedown.prevent="showUserMenu = !showUserMenu"
    >
      <!-- <img src="/images/UserIcon.png" class="mr-2" /> -->
      <p class="userName">
        {{ userName }}
      </p>
      <icon :icon="svgs.arrow_down"></icon>
      <div
        v-if="showUserMenu"
        class="dropdown"
        @mousedown.prevent="logout()"
      >
        <p>Выйти</p>
      </div>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.header {
@apply fixed z-[2] flex h-20 w-full items-center bg-c-light-gray pl-8 ;
  @extend shadow-[0_0_10px_rgba(0, 0, 0, 0.2)];
  .title {
    @apply flex cursor-pointer items-center gap-8;

    h1 {
      @apply text-[20px] font-[500] leading-5 text-c-violet;
    }
  }

  .user {
    @apply ml-auto mr-16 flex cursor-pointer items-center gap-1 text-c-gray-40;

    .userName {
      @apply text-[16px] font-[500] leading-6 text-c-ink;
    }

    .dropdown {
      @apply absolute right-16 top-20 mt-1 h-fit w-[250px] rounded bg-white/90 p-2;

      p {
        @apply h-fit w-full cursor-pointer rounded p-2 text-left text-c-ink hover:bg-slate-50 hover:text-c-main-blue;
      }
    }
  }
}
</style>
