<script setup lang="ts">
import { ref } from "vue";
import UiButton from "@/components/ui/UiButton.vue";

const emit = defineEmits(["delete", "save", "close"]);
const props = defineProps(["title", "type"]);
defineExpose({ show, close });

let isShown = ref(false);
let isEdit = ref(false);
let item = ref({});
function show(_item, _isEdit) {
  isEdit.value = _isEdit;
  isShown.value = true;
}
function close() {
  isShown.value = false;
}
</script>

<template>
  <div
    class="mb-7 flex max-h-full min-h-full w-[50rem] flex-col transition-all delay-75 duration-[300ms]"
    :class="isShown ? 'max-w-[50rem]' : '!w-[0rem] max-w-[0rem] opacity-0 '"
  >
    <div
      class="grow overflow-auto border-[1px] border-c-gray-30 bg-[#EAEAF3] p-5"
    >
      <!-- <SVGXMark
        class="mb-[-1rem] ml-auto mr-3 cursor-pointer text-c-main-blue"
        @click="
          () => {
            emit('close');
          }
        "
      ></SVGXMark> -->
      <h2 class="text-[21px] font-[400] text-c-ink">
        {{ title }}
      </h2>
      <div class="mt-3 flex flex-col gap-3 p-2">
        <slot></slot>
      </div>
    </div>
    <section class="mb-[-26px] flex w-full justify-end gap-3 pt-3">
      <ui-button
        @mousedown.prevent="emit('delete')"
        icon="trash2"
        variant="error"
        title="Удалить"
      />
      <ui-button
        @mousedown.prevent="emit('save')"
        icon="save"
        variant="primary-reversed"
        title="Сохранить"
      />
    </section>
  </div>
</template>
