<script setup lang="ts">
import Icon from "@/components/ui/Icon.vue";
import { vOnClickOutside } from "@vueuse/components";
import { ref, computed } from "vue";
import { useRoute } from "vue-router";
import * as ROUTES from "@/routes/routes";
import { svgs } from "@/constants/svgs";
import { IRoute } from "@/types";

const route = useRoute() as any;
const items = ref<IRoute[]>([]);
const isOpened = ref<boolean>(false);

items.value = Object.values(ROUTES).filter(
  (el: any) => el.meta && el.meta().isMenuItem,
) as IRoute[];

const activeTabIndex = computed(() => {
  let res = 0;
  items.value.forEach((el: any, index: number) => {
    if (
      route.matched[0]?.meta().title == el.meta().title ||
      route.matched[0]?.meta().sidebarTitle == el.meta().title
    )
      res = index;
  });
  return res;
});

const onClickOutside = () => {
  isOpened.value = false;
};
</script>

<template>
  <div
    v-on-click-outside="onClickOutside"
    :class="isOpened ? 'sidebar--opened' : 'sidebar--closed'"
    class="sidebar"
  >
    <div
      :class="isOpened ? 'rectangle--opened' : 'rectangle--closed'"
      class="rectangle"
      :style="`top:calc(8.15rem + 75px * ${activeTabIndex})`"
      @click="isOpened = !isOpened"
    >
      <icon
        :icon="svgs.arrow_right"
        class="h-4 text-c-main-blue"
        :class="isOpened ? 'rotate-180' : ''"
      />
    </div>

    <router-link
      class="router-link"
      :class="isOpened ? 'router-link--opened' : 'router-link--closed'"
      v-for="(item, index) in items"
      :key="item.name"
      :to="item.path"
    >
      <icon
        :icon="item.meta ? item.meta()?.icon : svgs.dots"
        class="h-[24px] w-[24px]"
        :class="activeTabIndex == index ? 'text-[#5F8BFF]' : 'text-[#9B9B9B]'"
      ></icon>
      <p
        class="ml-3 text-[14px] font-light"
        :class="activeTabIndex == index ? 'text-[#5F8BFF]' : 'text-[#9B9B9B]'"
        v-if="isOpened"
      >
        {{ item.meta ? item.meta().title : "" }}
      </p>
    </router-link>
  </div>
</template>

<style scoped lang="postcss">
.sidebar {
  @apply fixed top-0 z-[1] flex h-full w-20 flex-col items-center gap-12 bg-white pt-36 shadow-xl transition-all;

  &--closed {
    @apply w-20;
  }
  &--opened {
    @apply w-64;
  }

  .rectangle {
    @apply absolute left-20 top-32 flex h-[60px] w-[24px] cursor-pointer items-center justify-center bg-contain bg-no-repeat transition-all hover:scale-[120%];
    background-image: url("data:image/svg+xml,%3Csvg%0A%20%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20%20width%3D%2224%22%0A%20%20%20%20height%3D%2260%22%0A%20%20%20%20viewBox%3D%220%200%2024%2060%22%0A%20%20%20%20fill%3D%22none%22%0A%20%20%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M0%200L18.9401%2010.7614C22.0678%2012.5385%2024%2015.8587%2024%2019.456V40.544C24%2044.1414%2022.0678%2047.4615%2018.9401%2049.2386L0%2060V0Z%22%0A%20%20%20%20%20%20fill%3D%22white%22%0A%20%20%20%20%2F%3E%0A%20%20%3C%2Fsvg%3E");
    &--closed {
      @apply left-20;
    }
    &--opened {
      @apply left-64;
    }
  }

  .router-link {
    @apply mt-1 flex w-full cursor-pointer transition-all hover:scale-[105%];
    &--opened {
      @apply pl-3;
    }
    &--closed {
      @apply justify-center;
    }
  }
}
</style>
