<script setup lang="ts">
import Icon from "@/components/ui/Icon.vue";
import { svgs } from "@/constants/svgs";
const emit = defineEmits(["next"]);

const props = defineProps({
  currentStep: {
    type: Number,
    default: 0,
  },
  steps: {
    type: Array,
    default: () => [],
  },
});

function next() {
  console.log("next");
  emit("next");
}
</script>

<template>
  <section class="mt-5 flex w-full gap-4">
    <div
      class="flex flex-initial gap-4"
      :class="index !== steps.length - 1 ? 'w-full' : 'w-[400px]'"
      v-for="(step, index) in steps"
      :key="step.name"
    >
      <p
        :class="
          step.num <= currentStep ? 'text-c-main-blue underline' : 'text-c-ink'
        "
        class="ml-auto font-light"
      >
        {{ step.name }}
      </p>
      <icon
        v-if="index !== steps.length - 1"
        class="mt-1 h-4 grow"
        :icon="svgs.long_arrow_right"
      />
    </div>
  </section>
  <component
    @next="next()"
    :is="steps[currentStep].component"
  ></component>
</template>
