<script lang="ts" setup>
interface IProps {
  activeTab: number;
  tabs: { key: string; text: string }[];
}
const props = defineProps<IProps>();
const emit = defineEmits(["changeTab"]);
</script>

<template>
  <div class="tabs !bg-none">
    <a
      v-for="(tab, index) in tabs"
      class="tab-lifted tab tab-lg bg-none text-[1.05rem] [--tab-text:c-ink] [--tab-bg:#E0E0EA]"
      @click="emit('changeTab', index)"
      :class="activeTab == index ? 'tab-active' : ''"
      >{{ tab.text }}</a
    >
  </div>
</template>
