<script setup lang="ts">
import UiButton from "@/components/ui/UiButton.vue";
import Icon from "@/components/ui/Icon.vue";
import { onMounted, onUnmounted, ref, unref } from "vue";
import store from "@/store";
import { svgs } from "@/constants/svgs";
let emit = defineEmits(["updateFiles"]);
const events = ["dragenter", "dragover", "dragleave", "drop"];

type UploadFileProps = {
  acceptTypes?: string[];
};

const props = defineProps<UploadFileProps>();

function preventDefaults(e) {
  e.preventDefault();
}
const inputFile = ref(null);
const files = ref([]);
onMounted(() => {
  events.forEach((eventName) => {
    document.body.addEventListener(eventName, preventDefaults);
  });
});
onUnmounted(() => {
  events.forEach((eventName) => {
    document.body.removeEventListener(eventName, preventDefaults);
  });
});

function handleUpload(e) {
  files.value = [];

  for (const item of Object.entries(e)) {
    if (props.acceptTypes) {
      props.acceptTypes?.includes(item[1].type)
        ? files.value.push(item[1])
        : store.commit("addToast", {
            title: "Ошибка валидации!",
            type: "error",
            message: "Недопустимое расширение файла",
          });
    } else {
      console.log(item[1]);
      files.value.push(item[1]);
    }
  }
  emit("updateFiles", unref(files));
}
</script>

<template>
  <div
    class="flex w-full items-center justify-center rounded-lg border-[2px] border-dashed border-[#b4b4b4] bg-white p-10"
    @drop.prevent="handleUpload($event.dataTransfer.files)"
  >
    <template v-if="!files[0]">
      <p class="w-[46%] text-center font-extralight text-c-main-blue">
        Загрузите или перетащите сюда файлы
      </p>
      <input
        ref="inputFile"
        multiple
        type="file"
        name="fileInput"
        id="fileInput"
        class="inputFile"
        v-bind:accept="acceptTypes"
        @change="handleUpload($event.target.files)"
      />
      <ui-button
        @click="inputFile.click()"
        class="ml-5"
        icon="upload"
        title="Загрузить"
      />
    </template>
    <template v-else>
      <p class="text-[20px] font-light text-c-ink">
        {{ files[0]?.name }}
      </p>
      <icon
        :icon="svgs.trash"
        class="ml-3"
        @click="files = []"
      />
    </template>
  </div>
</template>

<style scoped>
.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
</style>
