<script setup lang="ts">
import { ref, watch } from "vue";
import { useUserStore } from "@/store/user.store";
import { useRouter } from "vue-router";
import { svgs } from "@/constants/svgs";
import UiButton from "@/components/ui/UiButton.vue";
import Icon from "@/components/ui/Icon.vue";

const isError = ref(false);
const loading = ref(false);
const userStore = useUserStore();
const router = useRouter();

let username = ref<string>("");
let password = ref<string>("");

watch(username, () => {
  isError.value = false;
});

watch(password, () => {
  isError.value = false;
});

async function login() {
  loading.value = true;
  try {
    await userStore.login(username.value, password.value);
    router.push("/");
  } catch (error) {
    isError.value = true;
  }
  loading.value = false;
}
</script>

<template>
  <div class="flex h-screen bg-[url(/images/authbg.png)]">
    <div
      class="mb-auto ml-auto mr-auto mt-auto flex h-fit w-[500px] flex-col items-center justify-center rounded-2xl p-10"
    >
      <icon
        :icon="svgs.logo"
        class="h-20 w-full"
      />
      <p
        class="max-w-[500px] text-center text-[1.3rem] font-normal text-gray-500"
      >
        Введите ваш логин и пароль чтобы войти в аккаунт
      </p>
      <form
        v-if="!loading"
        class="mb-auto flex w-full flex-col justify-center rounded-xl"
      >
        <p
          v-if="isError"
          class="ml-auto mr-auto text-[1.5rem] font-semibold text-red-700"
        >
          Неверный логин или пароль!
        </p>
        <div>
          <p class="mt-5 text-[1rem] font-medium text-c-ink">Логин</p>
          <input
            name="login"
            :class="isError ? 'border-2 border-red-600' : ''"
            class="loginInput"
            type="text"
            v-model="username"
          />
        </div>
        <div>
          <p class="mt-3 text-[1rem] font-medium leading-none text-c-ink">
            Пароль
          </p>
          <input
            name="password"
            :class="isError ? 'border-2 border-red-600' : ''"
            class="loginInput"
            type="password"
            v-model="password"
            @keydown.enter="login()"
          />
        </div>
        <ui-button
          class="mt-5 h-10 !w-full border-none !bg-c-ink !text-white"
          variant="primary-reversed"
          title="Войти"
          @click="login()"
        />
      </form>
      <div
        v-else
        class="sbl-circ"
      ></div>
    </div>
  </div>
</template>

<style scoped>
.loginInput {
  @apply mt-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}
.sbl-circ {
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: 0%;
  left: 0;
  height: 228px;
  width: 228px;
  color: white;
  position: relative;
  display: inline-block;
  border: 8px solid;
  border-radius: 70%;
  border-top-color: transparent;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

* {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
</style>
