<script setup lang="ts">
import DashboardApplications from "@/components/dashboard/DashboardApplications.vue";
import DashboardDifference from "@/components/dashboard/DashboardDifference.vue";
import DashboardCompletedApplications from "@/components/dashboard/DashboardCompletedApplications.vue";
import DashboardCards from "@/components/dashboard/DashboardCards.vue";
</script>

<template>
  <transition
    name="fade"
    appear
  >
    <div class="dashboard">
      <dashboard-applications class="rounded bg-white" />
      <dashboard-difference class="rounded bg-white" />
      <dashboard-completed-applications class="rounded bg-white" />
      <dashboard-cards />
    </div>
  </transition>
</template>

<style lang="postcss" scoped>
.dashboard {
  @apply grid grow grid-cols-[3fr_3fr_3fr] grid-rows-[327fr_174fr_273fr] gap-4;
}
</style>
