<template>
  <div
    class="flex h-screen w-screen flex-col items-center bg-[url('/images/authbg.png')]"
  >
    <p class="text-inc text-[2rem]">Сервер временно недоступен</p>
    <p class="text-c-gray mb-auto mt-3 text-[1.2rem]">
      Мы обновляем приложение или сервер перезагружается. Пожалуйста, подождите
      несколько минут и перезагрузите страницу.
    </p>
  </div>
</template>

<script lang="ts">
import Cookies from "js-cookie";

export default {
  components: {
    Logo,
  },
  async mounted() {
    fetch(import.meta.env.VITE_API_URL, {}).then((response) => {
      if (response.status == 200) window.location = Cookies.get("location");
    });
  },
};
</script>

<style></style>
