@font-face {
  font-weight: 100;
  font-family: Bebas;
  src: url("public/fonts/BebasNeue-Thin.ttf");
}

@font-face {
  font-weight: 300;
  font-family: Bebas;
  src: url("/fonts/BebasNeue-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Bebas;
  src: url("/fonts/BebasNeue-Book.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Bebas;
  src: url("/fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Bebas;
  src: url("/fonts/BebasNeue-Bold.ttf");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/TT Moscow Economy Thin.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 100;
  font-style: italic;
  src: url("/fonts/TT Moscow Economy Thin Italic.ttf") format("truetype");
}
@font-face {
  font-family: "TTMoscow";
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/TT Moscow Economy ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 200;
  font-style: italic;
  src: url("/fonts/TT Moscow Economy ExtraLight Italic.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/TT Moscow Economy Light.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/TT Moscow Economy Light Italic.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/TT Moscow Economy Italic.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/TT Moscow Economy Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/TT Moscow Economy Medium.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/TT Moscow Economy Medium Italic.ttf") format("truetype");
}
@font-face {
  font-family: "TTMoscow";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/TT Moscow Economy DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 600;
  font-style: italic;
  src: url("/fonts/TT Moscow Economy DemiBold Italic.ttf") format("truetype");
}
@font-face {
  font-family: "TTMoscow";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/TT Moscow Economy Bold.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/TT Moscow Economy Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/TT Moscow Economy ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "TTMoscow";
  font-weight: 800;
  font-style: italic;
  src: url("/fonts/TT Moscow Economy ExtraBold Italic.ttf") format("truetype");
}
@font-face {
  font-family: "TTMoscow";
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/TT Moscow Economy Black.ttf") format("truetype");
}

@font-face {
  font-family: "TTMoscow";
  font-weight: 900;
  font-style: italic;
  src: url("/fonts/TT Moscow Economy Black Italic.ttf") format("truetype");
}

* {
  font-family: "TTMoscow";
}
