<script setup lang="ts">
import Auth from "@/pages/Auth.vue";

import MainLayout from "@/layouts/MainLayout.vue";
import { useRoute } from "vue-router";
const route = useRoute();
</script>

<template>
  <main-layout v-if="route.name !== 'Auth'" />
  <Auth v-else />
</template>

<style></style>
