<script setup lang="ts">
import Header from "@/components/layout/Header.vue";
import Sidebar from "@/components/layout/Sidebar.vue";
import Modal from "@/components/ui/Modal.vue";
import Notifications from "@/components/ui/Notifications.vue";
import BreadCrumbs from "@/components/layout/BreadCrumbs.vue";
import Spinner from "@/components/ui/Spinner.vue";
import { useLayout } from "@/store/layout.store";

const layout = useLayout();
</script>

<template>
  <component
    :is="layout.component"
    v-if="layout.isPrint"
  />
  <div
    v-else
    class="w-screen h-screen bg-c-light-gray"
  >
    <Header />
    <sidebar />
    <div
      v-if="layout.loading"
      class="flex absolute justify-center items-center w-full h-full"
    >
      <spinner
        name="loading"
        size="6rem"
      />
    </div>

    <main
      class="flex flex-col gap-y-3 pt-24 pr-16 pb-10 pl-40 w-screen min-h-full max-h-screen"
    >
      <bread-crumbs class="w-full" />
      <router-view v-slot="{ Component }">
        <transition
          appear
          mode="out-in"
          :duration="300"
          name="fade"
        >
          <component :is="Component" />
        </transition>
      </router-view>
    </main>
  </div>
  <modal />
  <notifications />
</template>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
