<script lang="ts" setup>
import Pagination from "./Pagination.vue"
import Spinner from "./Spinner.vue"
import { withDefaults, toRaw } from "vue"
interface IProps {
  noSort?: boolean
  loading?: boolean
  columns: {
    key: string
    text: string
    unclickable?: boolean
  }[]
  upperColumns?: {
    key: string
    text: string
    colspan: number
  }[]
  items: any[]
  pagination?: boolean
  currentPage?: number
  perPage?: number
  total?: number
}

const emit = defineEmits(["sort", "rowClick", "nextPage", "prevPage"])
const props = withDefaults(defineProps<IProps>(), {
  noSort: true,
  loading: false,
  pagination: false,
  currentPage: 1,
})

const sort = (field: any) => {
  if (field.sortable == false) return
  emit("sort", field)
}
</script>

<template>
  <div class="flex w-full flex-col">
    <div class="table-container">
      <table class="table">
        <thead bgcolor="e0e0ea" class="head">
          <tr class="upperRow">
            <th
              v-for="(upperColumn, index) in upperColumns"
              :key="'upth-' + index"
              :colspan="upperColumn.colspan"
            >
              {{ upperColumn.text }}
            </th>
          </tr>
          <tr class="row">
            <th v-for="(column, index) in columns" :key="'th-' + index">
              <div @click="sort(column)">
                {{ column.text }}
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="body">
          <tr v-if="!loading" class="row" v-for="(item, i) in items" :key="`tr-${i}`">
            <td
              @click="
                () => {
                  if (!value.unclickable) emit('rowClick', toRaw(item))
                }
              "
              class="cell"
              v-for="(value, key, index) in columns"
              :key="`td-${index}-${i}`"
            >
              <slot
                :name="`${value.key}`"
                :value="item[value.key]"
                :item="item"
                :index="i"
                :key="value.key"
              >
                <p class="line-clamp-2">
                  {{ item[value.key] }}
                </p>
              </slot>
            </td>
          </tr>
          <tr v-if="loading">
            <td colspan="100%">
              <div class="h-full w-full">
                <spinner name="loading" size="6rem" />
              </div>
            </td>
          </tr>
          <tr v-if="items.length === 0 && !loading">
            <td class="text-inc w-full p-10 text-center text-[2rem]" colspan="100%">
              Нет данных
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination
      v-if="pagination && total && perPage"
      @next-page="$emit('nextPage')"
      @prev-page="$emit('prevPage')"
      class="ml-auto mr-auto mt-3"
      :total="total"
      :current-page="currentPage"
      :per-page="perPage"
    />
  </div>
</template>

<style lang="postcss" scoped>
.table-container {
  @apply flex max-h-[calc(100vh-300px)] w-full border-separate flex-col overflow-auto border-[1px] border-[#B4B4B4];

  .table {
    @apply w-full border-separate border-spacing-[0px] divide-y-[1px];

    .head {
      @apply sticky top-0;

      .upperRow {
        @apply h-[50x] text-center text-[18px] text-c-ink;

        th {
          @apply overflow-visible p-1 text-[23px] text-c-ink;
        }
      }

      .row {
        @apply min-h-[50px] text-center text-[18px] text-c-ink;

        th {
          @apply max-w-[200px];

          div {
            @apply flex cursor-pointer whitespace-normal  py-1 text-start text-[16px] font-[500] leading-[19px] text-c-ink;
          }
        }
      }
    }

    .body {
      .row {
        @apply min-h-[72px] bg-white transition-all hover:bg-[#F7F7F7];

        .cell {
          @apply max-w-[300px] border-b-[1px] px-2 py-4 text-left text-[16px] text-c-ink transition-all;
        }
      }
    }
  }
}
</style>
