<script lang="ts" setup></script>

<template>
  <div
    class="shadow text-c-ink px-2 py-1 hover:cursor-pointer hover:scale-[102%] hover:text-[#444CE9] hover:border-b-[2px] hover:border-b-[#444CE9] hover:mb-[-2px]"
  >
    <slot></slot>
  </div>
</template>
