<script setup lang="ts">
import { ISvg } from "@/constants/svgs";

interface IProps {
  icon: ISvg;
}

const props = defineProps<IProps>();
</script>

<template>
  <svg
    class="w-8"
    :fill="icon?.fill"
    :stroke="icon?.stroke"
    :width="icon?.x"
    :height="icon?.y"
    v-html="icon?.path"
    :viewBox="`0 0 ${icon?.x} ${icon?.y}`"
  ></svg>
</template>
