<script lang="ts" setup>
import { reactive } from "vue";
import { storeToRefs } from "pinia";
import { useModal } from "@/store/modal.store";

const modal = useModal();

// reactive container to save the payload returned by the mounted view
const model = reactive({});

// convert all state properties to reactive references to be used on view
const { isOpen, view, actions, properties } = storeToRefs(modal);
</script>

<template>
  <!-- isOpen is reactive and taken from the store, define if it is rendered or not -->
  <dialog
    v-if="isOpen"
    class="modal-open modal"
  >
    <div class="modal-box relative w-fit !max-w-[70%] px-10 pt-5">
      <!-- @click handles the event to close the modal calling the action directly in store -->
      <label
        class="btn-sm btn-circle btn absolute right-6 top-7"
        @click="modal.close()"
        >✕</label
      >

      <!-- dynamic components, using model to share values payload -->
      <component
        :is="view"
        v-bind="properties"
        v-model="model"
      ></component>

      <div class="modal-action">
        <!-- render all actions and pass the model payload as parameter -->
        <button
          v-for="action in actions"
          class="btn"
          @click="action.callback(model)"
        >
          {{ action.label }}
        </button>
      </div>
    </div>
    <form
      method="dialog"
      class="modal-backdrop"
    >
      <button @click="modal.close()">close</button>
    </form>
  </dialog>
</template>
@/store/modal.store
