<script setup lang="ts">
import Notification from "./Notification.vue";
import { useNotifications } from "../../store/notifications.store";

const store = useNotifications();
</script>

<template>
  <div class="notifications flex flex-col gap-1">
    <notification
      v-for="ntf in store.notifications"
      :notification="ntf"
    />
  </div>
</template>

<style scoped>
.notifications {
  @apply absolute left-[50%] top-1 z-[10000] h-fit w-40 translate-x-[-50%];
}
</style>
