<script setup lang="ts">
import { INotification } from "@/store/notifications.store";
import Icon from "./Icon.vue";
import { svgs } from "@/constants/svgs";

interface IProps {
  notification: INotification;
}

const props = defineProps<IProps>();
</script>

<template>
  <div
    class="flex h-10 w-80 items-center justify-center gap-5 rounded px-3 py-8 text-[1.1rem] font-[400] opacity-75"
    :class="props.notification.type"
  >
    <div
      class="flex h-8 w-8 items-center justify-center rounded-[50%] bg-white"
    >
      <Icon
        :icon="svgs[props.notification.type]"
        class="h-4"
      />
    </div>
    {{ props.notification.message }}
  </div>
</template>

<style scoped>
.success {
  @apply bg-green-300 text-green-900;
}

.error {
  @apply bg-red-300 text-red-900;
}

.warning {
  @apply bg-orange-300 text-orange-900;
}

.info {
  @apply bg-slate-300 text-slate-900;
}
</style>
