<script setup lang="ts">
import { ref, computed } from "vue";
import Icon from "./Icon.vue";
import { svgs } from "@/constants/svgs";
interface IProps {
  total: number;
  currentPage: number;
  perPage: number;
}

const emit = defineEmits(["nextPage", "prevPage"]);
const props = defineProps<IProps>();

const pages = computed(() => {
  return Math.ceil(props.total / props.perPage) == 0
    ? 1
    : Math.ceil(props.total / props.perPage);
});

const shownPages = computed(() => {
  let pgs = [];
  if (props.currentPage != 1) pgs.push(1);
  pgs.push(props.currentPage);

  if (props.currentPage != pages.value) pgs.push(pages.value);
  return pgs;
});

const next = () => {
  if (props.currentPage == pages.value) return;
  emit("nextPage");
};

const prev = () => {
  if (props.currentPage == 1) return;
  emit("prevPage");
};
</script>

<template>
  <div class="pagination">
    <div
      @click="prev()"
      @mousedown.prevent
      class="arrow-div"
    >
      <icon
        :icon="svgs.arrow"
        class="text-c-ink"
      ></icon>
    </div>
    <div
      v-if="currentPage != 1"
      class="flex h-8 cursor-pointer items-center justify-center rounded px-2 font-light text-c-main-dark"
    >
      {{ 1 }}
    </div>
    <icon
      :icon="svgs.dots"
      v-if="currentPage != 1 && currentPage != 2"
    />
    <div
      class="flex h-8 items-center justify-center rounded px-2 font-light"
      :class="
        true
          ? 'border-[1px] border-c-main-blue text-c-main-blue'
          : 'text-c-main-dark'
      "
    >
      {{ currentPage }}
    </div>
    <icon
      v-if="
        total >= perPage && currentPage != pages && currentPage != pages - 1
      "
      :icon="svgs.dots"
    />
    <div
      v-if="total >= perPage && currentPage != pages"
      class="flex h-8 cursor-pointer items-center justify-center rounded px-2 font-light text-c-main-dark"
    >
      {{ pages }}
    </div>
    <div
      @click="next()"
      @mousedown.prevent
      class="arrow-div"
    >
      <icon
        :icon="svgs.arrow"
        class="rotate-180 text-c-ink"
      />
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.pagination {
  @apply ml-auto mr-auto flex items-center gap-2;
  .arrow-div {
    @apply flex h-8 w-7 cursor-pointer items-center justify-center rounded border-[1px] border-c-border-gray;
  }
}
</style>
