<script setup lang="ts">
import { svgs } from "@/constants/svgs";
import Icon from "./Icon.vue";

interface IProps {
  modelValue: string;
}

const emit = defineEmits(["update:modelValue"]);
const props = defineProps<IProps>();
</script>

<template>
  <div class="flex h-10 w-80 items-center rounded-xl bg-white px-2 shadow-md">
    <icon :icon="svgs.search" />
    <input
      @input="emit('update:modelValue', $event.target?.value)"
      type="text"
      class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0"
    />
  </div>
</template>

<style scoped></style>
