<script lang="ts" setup>
import { computed } from "@vue/reactivity";
import { useDebounceFn } from "@vueuse/shared";
import { onMounted, ref, watch, unref } from "vue";
import Icon from "./ui/Icon.vue";
import { svgs } from "@/constants/svgs";
type TagsProps = {
  modelValue?: any;
  isMultiple?: boolean;
  tagsArray: any[];
  tagStyles?: string;
  fieldToCompare: string;
  searchStyles?: string;
  selectTagStyles?: (payload: any, tagStyles: any) => string;
};

const props = withDefaults(defineProps<TagsProps>(), {
  fieldToCompare: undefined,
  selectTagStyles: (payload: any) => "",
  tagStyles: undefined,
});

const emit = defineEmits([`update:modelValue`]);

const mapped = ref<any[]>([]);
const mappedCopy = ref<any[]>([]);
const inputValue = ref("");
const isSearchFocused = ref<boolean>(false);

const tags = computed(() => {
  return props.fieldToCompare
    ? props.tagsArray.map((item) => item[props.fieldToCompare])
    : props.tagsArray;
});

const chooseAll = () => {
  mappedCopy.value = mapped.value;
};

const resetAll = () => {
  mappedCopy.value.splice(0, mappedCopy.value.length);
};

const toggle = (index: number) => {
  if (!props.isMultiple && !mappedCopy.value.includes(props.tagsArray[index])) {
    mappedCopy.value = [props.tagsArray[index]];
    emit(`update:modelValue`, mappedCopy.value);
  } else if (!mappedCopy.value.includes(props.tagsArray[index])) {
    mappedCopy.value.push(props.tagsArray[index]);
    emit(`update:modelValue`, mappedCopy.value);
  } else {
    mappedCopy.value = mappedCopy.value.filter(
      (item, itemIndex) => itemIndex !== index,
    );
    emit(`update:modelValue`, mappedCopy.value);
  }
};

const onInput = useDebounceFn(() => {
  if (!inputValue.value) {
    mapped.value = props.tagsArray;
    return;
  }

  if (!props.fieldToCompare) {
    mapped.value = mapped.value.filter((arrayItem) => {
      return arrayItem.toLowerCase().includes(inputValue.value.toLowerCase());
    });
  } else {
    mapped.value = mapped.value.filter((arrayItem) =>
      arrayItem[props.fieldToCompare]
        .toLowerCase()
        .includes(inputValue.value.toLowerCase()),
    );
  }
}, 250);

onMounted(() => {
  mapped.value = props.tagsArray;
});

watch(
  () => props.tagsArray,
  () => {
    mapped.value = props.tagsArray;
  },
);
</script>

<template>
  <div class="flex">
    <div class="flex flex-wrap gap-2 pt-2">
      <div
        class="flex items-center rounded bg-white px-3"
        :class="
          isSearchFocused ? 'outline outline-[2px] outline-c-main-blue' : ''
        "
      >
        <icon
          :icon="svgs.search"
          name="search"
          class="h-5 w-5 text-gray-500"
        />
        <input
          type="text"
          v-model="inputValue"
          @input="onInput"
          placeholder="Найти..."
          :class="searchStyles"
          @focus="isSearchFocused = true"
          @blur="isSearchFocused = false"
        />
      </div>
      <div
        v-for="(tag, index) in mapped"
        :key="tag + index"
        @click="toggle(index)"
        :class="
          tagStyles + selectTagStyles(props.tagsArray[index], props.tagStyles)
        "
        class=""
      >
        <div class="">
          {{ fieldToCompare ? tag[fieldToCompare] : tag }}
        </div>
      </div>
    </div>
    <div
      class="ml-2 flex gap-1"
      v-if="isMultiple"
    >
      <button
        @click="chooseAll"
        class="cursor-pointer border border-2 bg-white pl-2 pr-2 pt-1 hover:bg-transparent"
      >
        Выбрать всё
      </button>
      <button
        @click="resetAll"
        class="cursor-pointer border border-2 bg-white pl-2 pr-2 pt-1 hover:bg-transparent"
      >
        Сбросить
      </button>
    </div>
  </div>
</template>
