<script setup lang="ts">
import Icon from "@/components/ui/Icon.vue";
import { svgs } from "@/constants/svgs";
interface IProps {
  modelValue: string;
}

const props = defineProps<IProps>();
const emit = defineEmits(["update:modelValue"]);
</script>

<template>
  <div class="TTMoscow flex">
    <!-- <select class="h-[38px] w-[130px] bg-[#5F8BFF26] pl-2 text-[14px]">
      <option selected value="sovpadenie">Совпадение</option>
    </select> -->
    <input
      class="h-[38px] w-[428px] focus:ring-0"
      type="text"
      placeholder="Введите текст"
      :value="modelValue"
      @input="
        emit('update:modelValue', ($event.target as HTMLInputElement).value)
      "
    />
    <div class="flex items-center justify-center">
      <div
        class="flex h-[38px] w-[40px] items-center justify-center border-[1px] border-c-ink bg-blue-500"
      >
        <icon
          :icon="svgs.globalSeach"
          name="search"
          class=""
        />
      </div>
      <!-- <icon :icon="svgs.info" name="search" class="" /> -->
    </div>
  </div>
</template>
