<script setup lang="ts">
import { svgs } from "@/constants/svgs";
import Icon from "./Icon.vue";

interface IProps {
  label: string;
  modelValue?: string | number | null;
  options: {
    key: string;
    value: string | number | null;
  }[];
}
const emit = defineEmits(["update:modelValue", "change"]);
const props = defineProps<IProps>();

const select = (value: string | number | null) => {
  emit("update:modelValue", value);
};
</script>

<template>
  <div class="flex items-center gap-2">
    <p class="text-[18px] font-medium text-c-ink">
      {{ label }}
    </p>
    <p class="text-[18px] font-light text-c-main-blue">
      {{ modelValue }}
    </p>
    <icon :icon="svgs.arrow_down" />
  </div>
</template>
