<script lang="ts" setup>
const props = defineProps(["slidesCount", "activeSlide"]);
</script>

<template>
  <div
    class="relative h-full w-full"
    v-for="slide in slidesCount"
  >
    <slot
      v-if="activeSlide === slide"
      :name="`slide-${slide}`"
    ></slot>
  </div>
</template>

<style scoped>
* {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
</style>
