<script lang="ts" setup>
import Icon from "./Icon.vue";
import { svgs } from "@/constants/svgs";
interface Props {
  name: string;
  size?: string;
}

const props = withDefaults(defineProps<Props>(), {
  name: "loading",
  size: "4rem",
});
</script>

<template>
  <icon
    :icon="svgs[name]"
    :style="`height: ${size}; width: ${size}`"
    :class="`mb-10 ml-auto mr-auto mt-[4rem] animate-spin-slow text-[5rem]`"
  ></icon>
</template>
