<script setup lang="ts">
import Icon from "@/components/ui/Icon.vue";
import { svgs } from "@/constants/svgs";
</script>

<template>
  <div class="flex">
    <p
      class="TTNorms mr-4 h-[34px] w-[226px] text-right text-[14px] font-medium"
    >
      Для обращения в техническую поддержку отсканируйте QR-код:
    </p>
    <img src="/images/SupportQRcode.png" />
  </div>
</template>
