<script setup>
import { ref, computed, onMounted } from "vue";
import TreeHeaderRecursive from "../TreeHeaderRecursive.vue";

const props = defineProps(["headers", "items"]);
const readyHeader = ref(false);
const showInfo = ref(false);
const currentValue = ref(null);
const currentItem = ref(null);
const currentColumn = ref(null);
const infoPos = ref([0, 0]);
const rerenderKey = ref(0);
function afterCharacter(string, char) {
  return string.slice(string.indexOf(char) + 1);
}

function getWidth(id) {
  return document.getElementById(id);
}
onMounted(() => {
  readyHeader.value = true;
});

function openInfo(e, value, item) {
  currentColumn.value = getWidth(value.header_id).innerText;
  infoPos.value = [e.x, e.y];
  currentValue.value = value;
  currentItem.value = item;
  showInfo.value = true;
}

window.onresize = () => {
  rerenderKey.value += 1;
};
</script>

<template>
  <div
    v-if="showInfo"
    :style="`top: 50%; left:50%;transform: translate(-50%, -50%);`"
    class="absolute flex h-fit w-fit max-w-[600px] flex-col gap-2 rounded border-[1px] bg-white p-5 font-light"
  >
    <p
      class="mb-[-20px] ml-auto mr-[-4px] mt-[-15px] cursor-pointer"
      @click="showInfo = false"
    >
      x
    </p>
    <h1 class="mr-auto text-[1rem] font-normal text-c-ink">
      Мероприятие:
      <span class="font-light"
        >{{ currentItem.group_number }} - {{ currentItem.title }}</span
      >
    </h1>
    <h1 class="mr-auto text-[1rem] font-normal text-c-ink">
      Колонка:
      <span class="font-light"> {{ currentColumn }}</span>
    </h1>
    <p class="mt-3 font-normal">Текущее значение:</p>
    <p class="font-light text-green-600">
      {{ currentValue.value }}
    </p>
    <p class="font-normal">Старое значение:</p>
    <p class="font-light text-yellow-500">Старое значение</p>
  </div>

  <div
    :key="rerenderKey"
    class="mb-5 flex max-w-full flex-col overflow-auto px-[1px]"
  >
    <TreeHeaderRecursive :headers="headers"></TreeHeaderRecursive>
    <template v-if="readyHeader">
      <div
        class="flex w-fit border-b-[1px] bg-white"
        v-for="(item, itemIndex) in items.filter((item, index) => index !== 0)"
        :key="item.key"
      >
        <div
          :style="`width: ${
            getWidth(value.header_id)?.getBoundingClientRect().width
          }px`"
          class="min-h-12 flex max-h-16 w-fit cursor-pointer items-center justify-center border-c-gray-30 text-left text-[10px] font-light text-c-ink outline outline-[0.5px] hover:bg-slate-100"
          :class="index !== 0 ? 'p-3' : ''"
          v-for="(value, index) in item.values"
          :key="value.key"
          @mousedown="openInfo($event, value, item)"
        >
          <div
            class="h-full w-3"
            :class="
              itemIndex % 3 == 0
                ? 'bg-green-500 '
                : itemIndex % 2 == 0
                  ? 'bg-gray-400'
                  : 'bg-yellow-500'
            "
            v-if="index === 0"
          ></div>
          <p class="ml-auto mr-auto line-clamp-3">
            {{
              value.value === null
                ? ""
                : !isNaN(value.value)
                  ? Number(value.value)
                  : value.value
            }}
          </p>
        </div>
      </div>
    </template>
  </div>
</template>
