<script setup lang="ts">
import { svgs } from "@/constants/svgs";
import Icon from "./Icon.vue";
import { PropType } from "vue";
const props = defineProps({
  title: {
    type: String,
    default: "title",
  },
  icon: {
    type: String,
    default: "",
  },
  variant: {
    type: String as PropType<"info" | "primary" | "error" | "primary-reversed">,
    default: "primary",
  },
});
</script>

<template>
  <div
    class="flex h-10 w-fit cursor-pointer items-center justify-center rounded border-[1px] px-5 transition-all hover:scale-[102%]"
    :class="props.variant"
  >
    <icon
      height="1.5rem"
      v-if="props.icon"
      :icon="svgs[props.icon as keyof typeof svgs]"
    />
    <p class="whitespace-nowrap text-[1.2rem] font-medium tracking-wide">
      {{ props.title }}
    </p>
  </div>
</template>

<style scoped>
.info {
  @apply border-slate-500  text-slate-500 hover:!bg-slate-500 hover:text-white;
}
.primary {
  @apply border-c-main-blue text-c-main-blue hover:bg-c-main-blue hover:text-white;
}
.primary-reversed {
  @apply border-c-main-blue bg-c-main-blue text-white;
}
.error {
  @apply border-red-600 !bg-white text-red-600 hover:!bg-red-600 hover:text-white;
}
.warning {
  @apply border-orange-600 !bg-white text-orange-600 hover:!bg-orange-600 hover:text-white;
}
.success {
  @apply border-green-600 !bg-white text-green-600 hover:!bg-green-600 hover:text-white;
}
</style>
