<script setup lang="ts">
defineProps([
  "modelValue",
  "label",
  "placeholder",
  "required",
  "type",
  "disabled",
  "name",
]);
defineEmits(["update:modelValue"]);
</script>

<template>
  <div class="w-[100px]">
    <p class="text-[1.1rem] text-c-ink">
      {{ label }}
      <span
        class="text-red-500"
        v-if="required"
        >*</span
      >
    </p>
    <input
      :name="name"
      :type="type"
      :required="required"
      :disabled="disabled"
      class="mt-1 h-10 w-full rounded border-slate-200 bg-transparent px-2 text-c-main-blue placeholder:font-light placeholder:underline focus:outline-none focus:ring-0 disabled:bg-slate-100"
      :placeholder="placeholder"
      :value="modelValue"
      @input="
        $emit('update:modelValue', ($event.target as HTMLInputElement).value)
      "
    />
  </div>
</template>
