<script setup lang="ts">
import Icon from "@/components/ui/Icon.vue";
import { ref, withDefaults, computed } from "vue";
import { vOnClickOutside } from "@vueuse/components";
import { svgs } from "@/constants/svgs";

interface IProps {
  up?: boolean;
  modelValue?: string | number | IOption | null;
  label?: string;
  placeholder?: string;
  required?: boolean;
  disabled?: boolean;
  options: IOption[];
  row?: boolean;
  returnField?: "value" | "text";
}

interface IOption {
  text: string;
  value: string | number | null | undefined;
  hex?: string;
  coef?: number;
}

const props = withDefaults(defineProps<IProps>(), {
  up: false,
  modelValue: null,
  label: "label",
  placeholder: "placeholder",
  required: false,
  disabled: false,
  row: false,
  returnField: "text",
});
const emits = defineEmits(["update:modelValue", "change"]);

let isOpened = ref(false);
const clickable = ref<HTMLElement | null>(null);

const selected = computed(() => {
  return props.options?.find(
    (option) =>
      option.text == props.modelValue || option.value == props.modelValue,
  );
});

const open = () => {
  if (!props.disabled) {
    isOpened.value = !isOpened.value;
  }
};

const close = () => {
  if (isOpened.value) isOpened.value = false;
};

const select = (option: IOption) => {
  emits(
    "update:modelValue",
    props.returnField == "text" ? option.text : option.value,
  );
  emits("change", option.text);
  isOpened.value = false;
};
</script>

<template>
  <div
    class="flex w-fit"
    :class="row ? 'flex-row  items-center gap-3' : 'flex-col'"
  >
    <p
      class="whitespace-nowrap text-[1rem] text-c-ink"
      v-if="label"
    >
      {{ label }}
      <span
        class="text-red-500"
        v-if="required"
        >*</span
      >
    </p>
    <div class="mt-1 w-full">
      <div
        @click="open"
        ref="clickable"
        class="flex h-10 w-full items-center justify-center rounded px-1"
        :class="disabled ? 'bg-slate-100' : ' cursor-pointer'"
      >
        <p
          v-if="!selected"
          class="text-[#6A7280] underline"
        >
          {{ placeholder }}
        </p>
        <p
          v-else
          class="text-c-main-blue"
        >
          {{ selected?.text }}
        </p>
        <icon
          class="ml-auto h-2 text-c-ink"
          :icon="svgs.arrow_down"
        />
      </div>
      <div
        v-if="isOpened"
        v-on-click-outside="close"
        :style="`min-width: ${clickable?.clientWidth}px`"
        :class="up ? `up` : ``"
        class="absolute z-[1001] mt-1 flex h-fit max-h-[400px] !w-fit flex-col gap-3 overflow-auto rounded bg-white p-1 shadow-md"
      >
        <div
          class="flex cursor-pointer hover:bg-slate-100"
          v-for="(option, index) in options"
          :key="'option' + index"
          @click="select(option)"
        >
          <div class="ml-1 flex w-full items-center rounded text-[#6A7280]">
            {{ option.text }}
            <div
              class="ml-auto h-5 w-5 rounded-[50%]"
              :style="`background-color: ${option.hex};`"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <input
      class="sr-only"
      :required="required"
      :value="modelValue"
    />
  </div>
</template>

<style scoped>
.up {
  bottom: 7rem !important;
}
</style>
