<template>
  <p
    v-if="label"
    class="text-c-ink"
  >
    {{ label }}
    <span
      class="text-red-500"
      v-if="required"
      >*</span
    >
  </p>
  <textarea
    class="focus:border-[#b4b4b4 !min-h-12 max-h-[180px] w-full rounded border-[#b4b4b4] px-6 focus:outline-none focus:ring-0"
    :value="modelValue"
    @input="input($event)"
    @paste="paste($event)"
    ref="textarea"
    rows="1"
  ></textarea>
</template>

<script>
export default {
  props: {
    preventPaste: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    modelValue: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "label",
    },
  },
  watch: {
    modelValue() {
      this.autosize(this.$refs.textarea);
    },
  },
  mounted() {
    this.autosize(this.$refs.textarea);
  },
  methods: {
    paste(e) {
      if (this.preventPaste) e.preventDefault();
      this.$emit("p", e);
    },
    input(e) {
      this.autosize(e.srcElement);
      this.$emit("update:modelValue", e.target.value);
    },
    autosize(el) {
      setTimeout(function () {
        el.style.cssText = "height:auto; padding:11px";
        el.style.cssText = "height:" + el.scrollHeight + "px";
      }, 1);
    },
  },
};
</script>
